* {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 20px;
    font-size: 15px;
  }

  .logo {
    height: 60px;
  }

  .navbar-nav {
    /* Additional styles for your navbar */
    display: flex;
    justify-content: flex-end; /* Move entire navbar content to the right */
  }

  .hero {
    background-image: url("bc.png"); /* Replace with your image filename */
    background-size: cover;
    background-position: center;
    padding: 100px 0;
    color: #fff;
  }

  .hero h1 {
    font-weight: bold;
  }
  
  .hero h1,
  .hero p {
    color: rgb(0, 0, 0); /* Set text color to black */
    text-shadow: 0 0 0 rgb(0, 0, 0); /* Remove default text shadow (might be present in Bootstrap) */
    background-color: rgba(255, 255, 255, 0.5);;
    
  }

  .image-heading-paragraph {
    padding: 100px 0;
  }
  
  .image-heading-paragraph img {
    max-width: 100%;
    height: auto;
  }
  
  .image-heading-paragraph h2 {
    font-size: 2.5rem;
    margin-top: 0;
  }
  
  .team-section {
    padding: 50px 0;
    text-align: center;
  }
  
  .team-member {
    margin-bottom: 30px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
    text-align: center;
  }
  
  .team-member img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
    border-radius: 50%;
  }
  
  .team-member h3 {
    font-size: 18px;
    margin-bottom: 5px;
  }
  
  .team-member p {
    font-size: 16px;
    color: #999;
  }
  
  

  .footer {
    background-color: #f2f2f2;
    color: #333;
    padding: 2rem 0;
  }
  .footer p {
    font-size: 14px;
    text-align: center;
  }
  .footer .copyright {
    color: #999;
  }
  .footer a:hover {
    text-decoration: underline;
  }

  .pricing-table {
    background-color: #f9f9f9;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    margin-bottom: 20px;
  }
  
  .pricing-table.header {
    font-weight: bold;
    font-size: 18px;
    margin-top: 0;
  }
  
  .pricing-table img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
  }
  
  .pricing-table ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .pricing-table li {
    padding: 10px;
    border-bottom: none ;
  }