<footer class="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-4 d-flex align-items-center flex-column">
          <strong style="font-size: 20px;">Head Office</strong> 
            <p class="ms-auto" style="margin-top: 10px;">Jl. Samping Gunung No. 48, Sinduharjo, Ngaglik, Sleman, Yogyakarta, Indonesia</p>
        </div>
        <div class="col-md-4 d-flex flex-column align-items-center">
          <ul class="list-unstyled">
              <strong style="font-size: 20px;">Contact</strong>
            <li style="margin-top: 10px;">  
              <p>Telp: <a href="tel:+628123456789" style="text-decoration: none; color: black;">+62 8123456789</a></p>
              <p>Fax: <a href="tel:+628123456789" style="text-decoration: none; color: black;">+62 8123456789</a></p>
              <p>Email: <a href="mailto:info@sewain.co.id" style="text-decoration: none; color: black;">info@sewain.co.id</a></p>
            </li>
          </ul>
        </div>
        
        <div class="col-md-4 d-flex align-items-center flex-column">
          <ul class="list-unstyled">
            <strong style="font-size: 20px;">Payment Partner</strong> 
              <div class="payment-logos" style="margin-top: 10px;">
                <img src="asset/bri.png" alt="BRI">
                <img src="asset/mandiri.png" alt="Mandiri">
                <img src="asset/bca.png" alt="BCA">
              </div>
          </ul>
        </div>
      </div>
      <div class="row mt-4">
        <div class="col d-flex justify-content-between align-items-center border-top pt-3">
          <p>&copy; 2021 Sewaln Indonesia</p>
          <a href="#">Sitemap</a>
        </div>
      </div>
    </div>
  </footer>